html{
	padding:0;
	margin:0;
	height: 100%;
	background:#085295;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#085295,endColorStr=#549fcc); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(top, #fff,  #549fcc);        /* IE 10 */
	background:-moz-linear-gradient(top,#085295,#549fcc);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#085295), to(#549fcc));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#085295), to(#549fcc));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #085295, #549fcc);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #085295, #549fcc);  /*Opera 11.10+*/
  }

.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}

body {
	padding:0;
	margin:0;
	height: 100%;
	font-family:Arial, "Microsoft Yahei";

	
}
.wrap {
	/*position: fixed;
	left: 50%;
	margin-left: -134px;*/
	width: 268px;
	overflow:hidden;
	-webkit-animation: bounceIn 600ms linear;
	-moz-animation: bounceIn 600ms linear;
	-o-animation: bounceIn 600ms linear;
	animation: bounceIn 600ms linear;
	background-color: #FFF;
	padding: 18px;
	border-radius: 5px;
}
h1{
	margin:10px 0;
}
h1 a {
	display: block;
	height: 50px;
	width: 250px;
	margin:auto;
	overflow: hidden;
	color:#fff;
	font-size: 45px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}

.login ul,
.login li{
	padding:0;
	margin:0;
	list-style:none;
}
.login ul{
	background:#fff;
	overflow:hidden;
	margin-bottom:15px;
	overflow:hidden;
}
.login li{
	padding:5px;
	background-color: #d3d4d4;
	margin-bottom: 15px;
	border-radius: 3px;
}
.login .verifycode-wrapper{
	padding:0px;
}
.verifycode-wrapper img{width: 100%; height: auto;}
.login li img{
	vertical-align:top;
}
.login .input {
	display: block;
	width: 100%;
	padding: 5px;
	vertical-align: middle;
	border:0 none;
	background:transparent;
	font-size:18px;
	font-family:Arial,"Microsoft Yahei";
	box-sizing:border-box;  
-moz-box-sizing:border-box; /* Firefox */  
-webkit-box-sizing:border-box; /* Safari */ 
}
.login .input:focus {
	outline:0 none;
}
.btn {
	width: 100%;
	height: 38px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	background:#549fcc;
	overflow:visible;
	color:#fff;
	font-size:20px;
	cursor:pointer;
	font-family:Arial, "Microsoft Yahei";
	border:none;
	border-radius:3px;
}
.btn:hover{
	background-color:#59a7d6;
}
.btn:active {
	background-position:0 -80px;
}
.placeholder{
	color:#999;
}
/*登录框动画*/
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}
@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}
@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}